body {
  position: relative;
  background: #ffffff;
}

@font-face {
  font-family: Gilroy;
  src: url("Gilroy-FREE/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Roboto;
  src: url("Robot/Roboto-Regular.ttf");
}

/*Хеад*/
header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 95px;
  left: 0px;
  top: 0px;
  z-index: 2;
  top: 20px;
}

.conteiner {
  position: relative;
  left: 25px;
  width: calc(100% - 50px);
  min-width: 1480px;
}

header .conteiner {
  position: relative;
  left: 25px;
  width: calc(100% - 50px);
  min-width: 1480px;
}

.logo {
  display: inline-block;
  width: 233px;
  height: 75px;
  vertical-align: top;
}

.logo_a {
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  top: 6px;
  background-color: black;
}

.logo_text {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  margin-top: 1px;

  font: normal 800 17px/21px Gilroy;
  text-decoration: none;
  color: #262525;
  border: 0;
  letter-spacing: 0.290629px;
  text-transform: uppercase;
}

.menu {
  position: relative;
  display: inline-block;

  min-width: 650px;
  width: 700px;
  height: 15px;
  left: calc(50% - 575px);
}

.menu_list {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

.menu_list_element {
  display: inline-block;
  transition: color 0.2s linear;
  padding-left: 25px;
  padding-right: 25px;
}

.menu_list_element_link {
  text-decoration: none;
  color: #262525;
  font: normal 800 12px/15px Gilroy;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.menu_line {
  position: absolute;
  display: block;
  margin-left: 20px;
  width: 100px;
  height: 4px;
  background-color: #d88f5e;
  opacity: 1;
  z-index: 1;
  transition-duration: 0.8s;
}

.callnumber {
  position: absolute;
  top: 4px;
  width: 129px;
  height: 21px;
  right: 80px;

  letter-spacing: 0.290629px;
  text-transform: uppercase;
}

.callnumber_a {
  color: #262525;
  text-decoration: none;
  font: normal 800 17px/21px Gilroy;
}

.burger {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 5px;
  right: 0px;
}

.burger_button {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 70px;
  height: 70px;
  background-color: black;
  border: 0;
  outline: none;
  padding: 0;
}
/*


Main main


*/
.divmain {
  position: absolute;
  left: 60px;
  top: 50px;
  width: calc(100% - 120px);
  height: 840px;
  opacity: 0;
  z-index: 0;
  background-color: #ffffff;
}

/*Асайд*/
aside {
  position: relative;
  top: 55px;
  margin-right: 0px;
}

.list {
  width: 250px;
  height: 840px;
}

.list_content {
  position: relative;
  top: 250px;
  height: 251px;
  display: block;
}

.list_item {
  display: inline-block;
  width: 100%;
  margin-bottom: 14px;
}

.list_item_line {
  display: inline-block;
}

.color_line {
  position: relative;
  display: inline-block;
  left: 0;
  z-index: 0;
  transition-duration: 0.8s;

  height: 9px;
  width: 0;
  background-color: #ebd8cc;
  top: -12px;
  opacity: 1;
}

.list_content_text_a {
  position: relative;
  z-index: 1;
}

.list_content_text {
  transition: color 0.2s linear;
  /* identical to box height */
  text-decoration: none;

  letter-spacing: 0.8px;
  text-align: left;
  color: #262525;
}

.list_content_main {
  font: normal bold 14px/16px Roboto;

  letter-spacing: 0.567739px;
  text-transform: uppercase;
}

.list_content_semi {
  font: normal 300 13px/15px Roboto;
  font-weight: 0;
  letter-spacing: 0.567739px;
}

/*


Маин



*/
main {
  position: absolute;
  display: flex;
  justify-content: flex-end;

  width: calc(100% - 280px);
  height: 840px;
  left: 280px;
  top: 10px;
  z-index: 0;
}

.description {
  left: 0;
  background-color: #f0f0f0;
  flex-grow: 5;
  min-width: 558px;
  width: 759px;
  height: 840px;
}

.description_item {
  position: relative;
  top: 150px;
  transition-duration: 0.8s;
  height: 0px;
  overflow: hidden;
}

.description_content {
  height: 540px;
}

.main-text {
  padding-top: 175px;
  padding-left: 178px;
  width: 435px;
  height: 78px;

  font: normal 800 44px/54px Gilroy;

  letter-spacing: -0.0255199px;
  text-transform: uppercase;

  color: #262525;
}

.semi_text {
  top: 0;
  margin-left: 178px;
  width: 435px;
  height: 110px;

  font: normal normal 18px/30px Roboto;
  letter-spacing: -0.0220791px;
  text-transform: none;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  color: #262525;
}

p.new:after {
  content: "..."; /* Добавляемый текст */
  width: 28px;
  height: 28px;
  color: white; /* Цвет текста */
  background-color: #262525; /* Цвет фона */
  font-size: 90%; /* Размер шрифта */
  padding: 5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.navigacia {
  position: absolute;
  z-index: 100;
  top: 665px;
  left: 178px;
  width: 34px;
  height: 20px;
  font: normal 300 17px/20px Gilroy;
}

.picture {
  overflow: hidden;
  height: 840px;
  flex-grow: 5;
  width: 758px;
  max-width: 758px;
}

.picture_img {
  height: 0px;
  width: 758px;
  transition-duration: 0.8s;
}

.pic2 {
  background-image: url(pic2.png);
}

.pic1 {
  background-image: url(pic1.jpg);
}

.pic0 {
  background-image: url(pic0.png);
}

/*Футер*/
footer {
  position: fixed;
  margin: 0 auto;
  height: 57px;
  width: 100%;

  bottom: 0;
}

.footer_content {
  position: relative;
  top: 22px;
  left: calc(50% - 205px / 2 - 797.5px);
  width: calc(100% - 50px);
  /* Desctop/Footer */

  font: normal 300 13px/15px Gilroy;
  /* identical to box height */

  letter-spacing: 0.175729px;
  text-transform: uppercase;

  /* TextDisable */

  color: #505050;
}

.footer_content span {
  margin-right: 14px;
}

.visible {
  z-index: 1;
  opacity: 1;
}

.description_item_active {
  height: 440px;
}

.picture_img_active {
  height: 840px;
  z-index: 1;
}
