body {
  position: relative;
  background: #ffffff;
}

@font-face {
  font-family: Gilroy;
  src: url("Gilroy-FREE/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: Roboto;
  src: url("Robot/Roboto-Black.ttf");
}

/*Хеад*/
header {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 95px;
  left: 0px;
  top: 0px;
  z-index: 1;
  top: 20px;
}

.conteiner {
  position: relative;
  left: 25px;
  width: calc(100% - 50px);
  min-width: 1480px;
}

header .conteiner {
  position: relative;
  left: 25px;
  width: calc(100% - 50px);
  min-width: 1480px;
}

.logo {
  position: absolute;
  width: 233px;
  height: 75px;
}

.icon {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 6px;
  background-color: black;
}

.logo_text {
  position: absolute;
  width: 140px;
  height: 21px;
  left: 92px;
  top: 0px;

  /* Desctop/Special */

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: 0.290629px;
  text-transform: uppercase;

  /* Base */
}

.logo_text_a {
  text-decoration: none;
  color: #262525;
}

.menu {
  position: relative;
  display: inline-block;

  min-width: 650px;
  width: 600px;
  height: 15px;
  left: calc(50% - 390px / 2 - 77px);
}

.menu_a {
  transition: color 0.2s linear;

  text-decoration: none;
  color: #262525;
  padding-bottom: 7px;

  background-clip: border-box;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  padding-right: 5px;
  /* identical to box height */

  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-right: 50px;
}

.menu_a:nth-child(2) {
  padding-right: 54px;
}

.menu_a:nth-child(3) {
  padding-right: 0px;
}

.menu_a:not(:last-child):active {
  border-bottom: 4px solid #d88f5e;
}

.menu_hover {
  position: absolute;
  padding-bottom: 7px;
  border-bottom: 0;
  width: 380px;
}

.menu_hover:hover {
  border-bottom: 4px solid #d88f5e;
}

.menu_no_hover {
  position: absolute;
  left: calc(50% - 390px / 2 + 310px);
}

.callnumber {
  position: absolute;
  top: 4px;
  width: 129px;
  height: 21px;
  right: 80px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 21px;

  letter-spacing: 0.290629px;
  text-transform: uppercase;
}

.burger {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 5px;
  right: 0px;
}

.burger_button {
  width: 70px;
  height: 70px;
  background-color: black;
  border: 0;
  outline: none;
  padding: 0;
}

/*Маин*/
main {
  position: absolute;
  margin: 0 auto;
  width: calc(100% - 30px);
  height: 840px;
  left: 0px;
  top: 60px;
  z-index: 0;
}

main .conteiner {
  display: flex;
  justify-content: flex-end;
}

.list {
  position: relative;
  float: left;
  flex-grow: 0.35;
  height: 840px;
  margin-right: 70px;
}

.list_content {
  position: relative;
  top: 295px;
  height: 251px;
  display: table;
}

.list_content_text {
  display: table-row;
  transition: color 0.2s linear;
  /* identical to box height */
  text-decoration: none;

  letter-spacing: 0.8px;
  text-align: left;
  color: #262525;
}

.list_content_main {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.567739px;
  text-transform: uppercase;
}

.list_content_semi {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.567739px;
}

.description {
  position: relative;
  flex-grow: 0;
  float: right;
  background-color: #f0f0f0;

  width: 758px;
  min-width: 758px;
  display: flex;
}

.main-text {
  position: absolute;
  display: flex;

  align-items: center;

  width: 435px;
  height: 54px;
  top: 326px;
  left: 181px;
  /* Desctop/Title */

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  /* identical to box height */

  letter-spacing: -0.0255199px;
  text-transform: uppercase;

  /* Base */

  color: #262525;
}

.semi_text {
  position: absolute;
  display: flex;
  width: 435px;
  height: 110px;
  top: 402px;
  left: 181px;

  /* Desctop/Text */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: -0.0220791px;
  text-transform: none;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Base */

  color: #262525;
}

p.new:after {
  content: "..."; /* Добавляемый текст */
  width: 28px;
  height: 28px;
  color: white; /* Цвет текста */
  background-color: #262525; /* Цвет фона */
  font-size: 90%; /* Размер шрифта */
  padding: 5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.navigacia {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 34px;
  height: 20px;
  left: 180px;
  top: 650px;
}

.picture {
  float: right;
  flex-grow: 2;
  top: 0px;
  float: left;
  width: 758px;
  max-width: 758px;
  /*background: url(1jpg);*/
}

/*Футер*/
footer {
  position: fixed;
  margin: 0 auto;
  height: 57px;
  width: 100%;

  bottom: 0;
}

.footer_content {
  position: relative;
  width: 205px;
  height: 15px;
  top: 22px;
  left: calc(50% - 205px / 2 - 797.5px);

  /* Desctop/Footer */

  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.175729px;
  text-transform: uppercase;

  /* TextDisable */

  color: #505050;
}
