* {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0 25px;
}

@font-face {
  font-family: Gilroy;
  src: url("../content/fonts/Gilroy-ExtraBold.woff2");
}

@font-face {
  font-family: Gilroy-lite;
  src: url("../content/fonts/Gilroy-Light.woff2");
}

@font-face {
  font-family: Roboto;
  src: url("../content/fonts/Roboto-Regular.woff2");
}

.content {
  grid-row-start: 1;
  grid-row-end: 2;
}

/*Хеад*/
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 95px;
  z-index: 2;
}

.logo {
  height: 70px;
  text-decoration: none;
  vertical-align: top;
}

.logo__icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: black;
}

.logo__text {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;

  font: normal 800 17px/21px Gilroy;
  text-decoration: none;
  color: #262525;
  border: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu {
  align-self: center;
  height: 60px;
}

.menu__list {
  list-style-type: none;
}

.menu__list:after {
  content: "";
  clear: both;
  display: block;
}

.menu__element {
  transition: color 0.2s linear;
  padding-left: 25px;
  padding-right: 25px;
  float: left;
}

.menu__link {
  text-decoration: none;
  color: #262525;
  font: normal 800 12px/15px Gilroy;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.menu__line {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  width: 100px;
  height: 4px;
  background-color: #d88f5e;
  z-index: 1;
  transition-duration: 0.8s;

  transform: translateX(0px) scaleX(1);
}

.nelogo {
  height: 70px;
}

.callnumber {
  vertical-align: top;
  margin-right: 20px;
  color: #262525;
  text-decoration: none;
  font: normal 800 17px/21px Gilroy;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.burger {
  width: 70px;
  height: 70px;
  background-color: black;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
}
/*


Main main


*/
.divmain {
  position: absolute;
  display: grid;
  grid-template-columns: 0.17fr 0.83fr;
  top: 55px;
  width: calc(100% - 80px);
  /*width: 100%;
  padding: 0 40px;*/
  height: 840px;
  opacity: 0;
  z-index: 0;
}

.divmain--active {
  opacity: 1;
  z-index: 1;
}

/*Асайд*/

/*aside-menu*/

.aside {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.aside-menu {
  margin-left: 35px;
}

.aside-menu__item {
  list-style-type: none;
  margin-top: 20px;
}

.aside-menu__link {
  position: relative;
  display: inline-block;

  font: normal 300 13px/15px Roboto;
  transition: color 0.2s linear;
  text-decoration: none;

  letter-spacing: 0.03em;

  color: #262525;
}

.aside-menu__link:after {
  content: "";
  position: relative;
  display: block;
  top: -7px;
  height: 9px;
  width: 0;
  background-color: #ebd8cc;
  opacity: 1;
  z-index: -1;
  transition-duration: 0.8s;
}

.aside-menu__link:hover:after {
  width: 100%;
}

.aside-menu__link--active {
  /*font: normal bold 14px/16px Roboto;*/
  animation: text_animate 0.4s linear;
  animation-fill-mode: both;
  text-transform: uppercase;
}

.aside-menu__link--active:after {
  width: 100%;
}

.list_content_main {
  font: normal bold 14px/16px Roboto;

  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@keyframes text_animate {
  from {
    font: normal 300 13px/15px Roboto;
  }
  to {
    font: normal bold 14px/16px Roboto;
  }
}

/*


Маин



*/
.main {
  display: flex;
  justify-content: flex-end;

  height: 840px;
  z-index: 0;
}

.description {
  position: relative;
  left: 0;
  background-color: #f0f0f0;
  flex-grow: 5;
  min-width: 558px;
}

.description__item {
  position: relative;
  top: 155px;
  transition-duration: 0.8s;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.description__item--active {
  height: 440px;
  opacity: 1;
}

.description__main-text {
  padding-top: 175px;
  padding-left: 178px;
  width: 435px;
  font: normal 800 44px/54px Gilroy;

  letter-spacing: 0.004em;
  text-transform: uppercase;

  color: #262525;
}

.description__semi-text {
  position: relative;
  top: 40px;
  margin-left: 180px;
  width: 435px;
  overflow: hidden;
  word-break: inherit;

  font: normal normal 18px/30px Roboto;
  letter-spacing: -0.01em;
  text-transform: none;

  color: #262525;
}

.description__semi-link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 28px;
  height: 28px;
  color: white;
  background-color: #262525;
  font-size: 90%;
  margin: 5px;
}

.description__navigacia {
  position: absolute;
  z-index: 1;
  top: 660px;
  left: 185px;
}

.description__navigacia-firstnumber {
  font: normal normal 18px/30px Gilroy;
}

.description__navigacia-second {
  font: normal normal 18px/30px Gilroy-lite;
}

.picture {
  overflow: hidden;
  height: 840px;
  flex-grow: 5;
  width: 758px;
  max-width: 758px;
}

.picture__slaider {
  display: block;
  width: 100%;
  height: 0px;
  transition-duration: 0.8s;
  opacity: 0;
}

.picture__slaider--active {
  opacity: 1;
  height: 840px;
}

/*Футер*/
.footer {
  grid-row-start: 2;
  grid-row-end: 3;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 60px;

  padding-left: 35px;
  font: normal 300 13px/15px Gilroy-lite;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* TextDisable */
  color: #505050;
}

.footer__content-margin {
  margin-right: 20px;
}

svg {
  width: 100%;
  height: 100%;
}
/********Spasing
top 
left
Линия
**********/
